/* font-Abel */
@font-face {
    font-family: Abel;
    src: url('../font/Abel/Abel-Regular.ttf');
}

/* Font-Anton */
@font-face {
    font-family: Anton;
    src: url('../font/Anton/Anton-Regular.ttf');
}

/* Font-Josefin_Sans */
@font-face {
    font-family: Josefin_Sans;
    src: url('../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

/* Font-Lexend_Deca */
@font-face {
    font-family: Lexend_Deca;
    src: url('../font/Lexend_Deca/LexendDeca-Regular.ttf');
}

/* Font-Livvic */
@font-face {
    font-family: Livvic;
    src: url('../font/Livvic/Livvic-Black.ttf');
}